@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --font-primary: "Inter", sans-serif;
    --color-black-primary: #0E0E10;
    --color-black-secondary: #1A1A1C;
    --color-secondary: #323234;
    --color-gray-dark: #575758;
    --color-grey: #9F9F9F;
    --color-gray-light: #B7B7B8;
    --color-white: #FFFFFF;
    --color-gray-alfa: rgba(185, 185, 185, 0.48);
    --color-primary: #F46F4E;
    --color-primary-bg: #FFF2EF;
    --color-primary-button: #FCE4DE;
    --color-blue: #547DFF;
    --color-blue-bg: #F0F7FF;
    --color-green: #22A02B;
    --color-yellow: #FEC84B;
    --color-placeholder: #F1CFC7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

html, body {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-primary);
    color: var(--color-black-primary);
}



body.bg-gray {
    background-color: #F6F6FA;
}

b, strong {
    font-weight: 700;
}

.wrapper {
    min-height: 100dvh;
}

body:has(.catalog-wrapper.active) {
    overflow: hidden;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1476px;
    padding: 0 32px;
}

h1.title,
h2.title {
    font-size: 38px;
    font-weight: 500;
    color: var(--color-black-secondary);
}

h3.title {
    font-size: 28px;
    font-weight: 500;
    color: var(--color-black-secondary);
}

h4.title,
.item-title {
    font-size: 24px;
    font-weight: 500;
    color: var(--color-black-secondary);
}

h4.title .text {
    font-size: 16px;
    font-weight: 400;
}

.modal.dark-bg {
    background-color: #000000;
}
.modal.dark-bg .modal-content {
    background-color: transparent;
}

.bg-transparent {
    background-color: transparent;
}

.status {
    padding: 10px 25px;
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    white-space: nowrap;
}

.status.success {
    background-color: var(--color-green);
    color: var(--color-white);
}
.status.await {
    background-color: var(--color-yellow);
    color: #323234;
}
.status.refuse {
    background-color: #B7B7B8;
    color: var(--color-white);
}


p.text,
span.text {
    line-height: 160%;
    font-size: 16px;
}

p.text-lg {
    font-size: 20px;
}
p.text-title {
    font-size: 18px;
}
p.text-sm,
.text-sm {
    font-size: 15px;
}
p.text-lt,
.text-lt {
    font-size: 14px;
}

.separator {
    width: 100%;
    border-top: 1px solid #DBDBDB;
}

.fw-medium {
    font-weight: 500;
}
.fw-semibold {
    font-weight: 600;
}

.btn.btn-lg {
    font-size: 18px;
    padding: 14px 30px;
}

.w-fit {
    width: fit-content;
}

.btn.btn-blue {
    color: var(--color-blue);
}

.btn.btn-mobile {
    padding: 12px 18px;
    height: 50px;
    border-radius: 15px;
    background-color: var(--color-white);
}

.btn.btn-mobile.long {
    padding: 12px 30px;
}

.c-gray {
    color: var(--color-grey);
}
.c-graydark {
    color: var(--color-gray-dark);
}

.c-red {
    color: #F63F3F;
}

.c-primary {
    color: var(--color-primary);
}

.c-text {
    color: #323234;
}
.c-text-sec {
    color: #575758;
}
.c-green {
    color: var(--color-green);
}

a.link-primary,
a.link-primary:visited {
    color: var(--color-primary) !important;
}

h1.title .c-gray,
h2.title .c-gray {
    font-size: 28px;
}

.dropdown .btn.btn-reset {
    background-color: transparent;
    color: var(--color-gray-dark);
}

.header {
    background-image: url(../img/header-bg.png);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 0 0 40px 40px;
    height: 90px;
}

.header-inner {
    height: 90px;
}

.nav-counter {
    position: absolute;
    top: 0;
    right: calc(50% - 17px - 10px);
    background-color: #93EF4D;
    color: var(--color-black-primary);
    border-radius: 5px;
    padding: 1px 6px;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
}

.search-wrapper {
    width: 100%;
    max-width: 800px;
}

.search-wrapper.active .search-input {
    background-color: #F6F6FA;
    color: var(--color-black-primary);
}

.search-wrapper.active .search-input::placeholder {
    color: #CFCFCF;
}

.search-wrapper.active .search-button svg path {
    fill: var(--color-grey);
}
.search-wrapper.active .search-file-button svg path {
    stroke: var(--color-grey);
}
.search-wrapper.active .search-result {
    display: flex;
}

.search-input {
    width: 100%;
    height: 60px;
    font-family: var(--font-primary);
    border-radius: 25px;
    padding: 16px 66px 15px;
    border: 0px solid var(--color-primary);
    font-size: 24px;
    outline: none;
    color: var(--color-primary);
    font-weight: 600;
    line-height: 1;
    position: relative;
    z-index: 1;
}

.mobile-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    gap: 36px;
    padding: 12px 20px;
    background-color: var(--color-white);
    border-top: 1px solid #DBDBDB;
}

.search-input::placeholder {
    color: var(--color-placeholder);
    opacity: 1;
}

.search-input:focus::placeholder {
    opacity: 0;
}

.search-file-button {
    top: 17px;
    right: 36px;
    cursor: pointer;
    transition: 500ms ease;
    z-index: 2;
}

.search-button {
    padding: 0;
    top: 17px;
    left: 30px;
    z-index: 2;
}

.search-result {
    display: none;
    flex-direction: column;
    top: 12px;
    border-radius: 10px 10px 25px 25px;
    padding: 60px 15px 20px;
    width: 100%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
    left: 0;
    background-color: var(--color-white);
}

.search-result .search-link {
    padding: 5px 10px;
    color: var(--color-black-secondary);
    font-size: 14px;
}

.catalog-button {
    padding: 16px 45px 17px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 20px;
    font-size: 18px;
    font-weight: 700;
    border: 0px solid var(--color-primary);
}

.catalog-wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    display: none;
}

.catalog-wrapper.active {
    display: flex;
}


.catalog-list {
    background-color: var(--color-white);
    height: 100dvh;
    display: flex;
    flex-direction: column;
    padding-right: 8px;
    padding-top: 10px;
    position: relative;
    z-index: 3;
}

.catalog-sublist,
.catalog-sublist-child {
    background-color: var(--color-white);
    height: 100dvh;
    display: flex;
    flex-direction: column;
    padding: 10px 8px 0 8px;
    border-left: 1px solid #E4E7EC;
}

.catalog-sublist {
    transition: transform 500ms ease;
    transform: translateX(-400px);
    position: relative;
    z-index: 2;
}

.catalog-sublist-child {
    transition: transform 500ms ease;
    transform: translateX(-800px);
    position: relative;
    z-index: 1;
}

.catalog-sublist.active,
.catalog-sublist-child.active {
    transform: translateX(0px);
}

.catalog-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    gap: 12px;
    width: 300px;
    padding: 10px 12px 10px 25px;
    font-size: 14px;
    min-height: 44px;
    color: var(--color-black-secondary);
}
.catalog-item.active {
    background-color: var(--color-primary-bg);
}

.catalog-item::after {
    content: '';
    display: block;
    width: 24px;
    min-width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 18L15 12L9 6' stroke='%230E0E10' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0;
}

.catalog-item.active::after {
    opacity: 1;
}

.catalog-title {
    padding-left: 25px;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-black-secondary);
}

.catalog-scroll {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: calc(100dvh - 40px);
    padding-right: 8px;
}

.banner-main {
    border-radius: 40px;
    overflow: hidden;
    background-image: url(../img/banner-long.png);
    background-position: right center;
    background-size: cover;    
    background-repeat: no-repeat;
}

.banner-content {
    padding: 90px 50px;
    min-height: 300px;
    background-color: #FDD8A3;
    width: 60%;
    max-width: 636px;
}

.banner-title {
    font-size: 34px;
    font-weight: 600;
    line-height: 41px;
    color: #4A1701;
}

.banner-content a {
    color: #4A1701;
    font-size: 24px;
    font-weight: 500;
}

.banner-item {
    width: 460px;
    min-width: 460px;
    height: 687px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    font-size: 37px;
}

.products-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 222px);
    gap: 16px;
}

.banner-flex .products-grid {
    padding: 15px 0;
    overflow: hidden;
    max-height: 687px;
}

.product-item {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 222px;
    gap: 15px;
}

.fav-btn {
    position: absolute;
    top: 13px;
    right: 12px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fav-btn .fav-hover,
.fav-btn .fav-hover-stroke {
    transition: fill 300ms ease, stroke 300ms ease;
}

.fav-btn.active .fav-hover {
    fill: var(--color-primary);
}
.fav-btn.active .fav-hover-stroke {
    stroke: var(--color-primary);
}

.fav-btn::after {
    content: '';
    width: 26px;
    min-width: 26px;
    height: 26px;
    display: block;
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_b_2026_15753)'%3E%3Cg filter='url(%23filter1_b_2026_15753)'%3E%3Cpath d='M22.5786 4.99419C22.0253 4.44061 21.3683 4.00147 20.6452 3.70187C19.9221 3.40226 19.1471 3.24805 18.3644 3.24805C17.5817 3.24805 16.8067 3.40226 16.0836 3.70187C15.3605 4.00147 14.7036 4.44061 14.1503 4.99419L13.0019 6.14252L11.8536 4.99419C10.7359 3.87652 9.22004 3.24863 7.63942 3.24863C6.0588 3.24863 4.54292 3.87652 3.42525 4.99419C2.30759 6.11186 1.67969 7.62774 1.67969 9.20836C1.67969 10.789 2.30759 12.3049 3.42525 13.4225L4.57359 14.5709L13.0019 22.9992L21.4303 14.5709L22.5786 13.4225C23.1322 12.8692 23.5713 12.2122 23.8709 11.4892C24.1705 10.7661 24.3247 9.99105 24.3247 9.20836C24.3247 8.42566 24.1705 7.65064 23.8709 6.92756C23.5713 6.20448 23.1322 5.54751 22.5786 4.99419Z' fill='%23F46F4E'/%3E%3Cpath d='M14.8574 5.7013L14.8575 5.70113C15.318 5.24046 15.8647 4.87503 16.4664 4.6257C17.0681 4.37638 17.7131 4.24805 18.3644 4.24805C19.0158 4.24805 19.6607 4.37637 20.2624 4.6257C20.8642 4.87503 21.4109 5.24046 21.8713 5.70113L21.8716 5.70146C22.3323 6.16192 22.6978 6.70862 22.9471 7.31035C23.1964 7.91207 23.3247 8.55703 23.3247 9.20836C23.3247 9.85969 23.1964 10.5046 22.9471 11.1064C22.6978 11.7081 22.3323 12.2548 21.8716 12.7153L21.8715 12.7154L20.7231 13.8638L13.0019 21.585L5.28069 13.8638L4.13236 12.7154C3.20223 11.7853 2.67969 10.5238 2.67969 9.20836C2.67969 7.89296 3.20223 6.63143 4.13236 5.7013C5.06249 4.77117 6.32402 4.24863 7.63942 4.24863C8.95482 4.24863 10.2163 4.77117 11.1465 5.7013L12.2948 6.84963C12.6853 7.24016 13.3185 7.24016 13.709 6.84963L14.8574 5.7013Z' stroke='%23F46F4E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cg filter='url(%23filter2_b_2026_15753)'%3E%3Cpath d='M3.0717 13.7761L3.42525 13.4225L3.0717 13.7761L4.22003 14.9244L12.6484 23.3527C12.8436 23.548 13.1602 23.548 13.3555 23.3527L21.7838 14.9244L22.9321 13.7762C22.9321 13.7761 22.9321 13.7761 22.9321 13.7761C23.5321 13.1763 24.0081 12.4643 24.3328 11.6806C24.6576 10.8968 24.8247 10.0567 24.8247 9.20836C24.8247 8.35998 24.6576 7.51992 24.3328 6.73616C24.0081 5.9524 23.5321 5.24031 22.9321 4.64056C22.3323 4.0406 21.6203 3.56467 20.8366 3.23995C20.0529 2.9152 19.2128 2.74805 18.3644 2.74805C17.516 2.74805 16.676 2.9152 15.8922 3.23995C15.1085 3.56468 14.3964 4.04064 13.7967 4.64064C13.7967 4.64067 13.7966 4.64069 13.7966 4.64072L13.0019 5.43542L12.2071 4.64064C10.9957 3.4292 9.35265 2.74863 7.63942 2.74863C5.92619 2.74863 4.28313 3.4292 3.0717 4.64064C1.86026 5.85207 1.17969 7.49513 1.17969 9.20836C1.17969 10.9216 1.86026 12.5646 3.0717 13.7761Z' stroke='%23F46F4E' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_b_2026_15753' x='-9.4' y='-9.4' width='44.8' height='44.8' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='4.7'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_2026_15753'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_2026_15753' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter1_b_2026_15753' x='-15.4203' y='-13.852' width='56.8445' height='53.951' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='8.55'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_2026_15753'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_2026_15753' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter2_b_2026_15753' x='-49.3203' y='-47.752' width='124.645' height='121.751' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='25'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_2026_15753'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_2026_15753' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transform: scale(0);
    transition: transform 300ms ease-in;
}

.fav-btn.active::after {
    transform: scale(1.1);
}

.show-more {
    border: 2px solid #ECECEC;
    font-size: 20px;
    color: var(--color-black-secondary);
    background-color: transparent;
    padding: 20px 30px 21px;
    border-radius: 10px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.pagination-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    min-width: 40px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
}

.pagination-item.active {
    border: 2px solid var(--color-primary);
}

.pagination-item.next {
    margin-left: 20px;
    width: fit-content;
    padding: 0 6px;
}

.pagination-item.prev {
    margin-right: 20px;
    width: fit-content;
    padding: 0 6px;
}


.product-item p,
.account-wrapper p {
    margin-bottom: 0;
}


.product-image {
    overflow: hidden;
    border-radius: 20px;
}

.product-image img {
    width: 100%;
    object-fit: cover;
}

.product-price .price {
    font-size: 20px;
    font-weight: 700;
    color: var(--color-black-primary);
}

.product-price.active .price {
    color: var(--color-primary);
}

.product-price .subprice {
    color: var(--color-gray-light);
    font-size: 13px;
    font-weight: 500;
    text-decoration: line-through;
    margin-left: 8px;
}

.product-price .discount {
    color: var(--color-primary);
    font-size: 15px;
    font-weight: 700;
    margin-left: 8px;
}

.product-price .product-cnt {
    margin-left: 8px;
}

.product-main-action .product-total {
    font-size: 35px;
    font-weight: 700;
}

.product-main-action .btn.btn-primary {
    font-weight: 600;
}

.prod-row p:first-child {
    min-width: 100px;
    display: block;
}

.product-main-info {
    gap: 20px;
}

.product-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    box-orient: vertical;
    font-size: 14px;
    line-height: 135%;
    color: var(--color-black-primary);
}

.product-flex {
    display: flex;
    gap: 30px;
    margin-top: 80px;
}

.product-flex p {
    margin-bottom: 0;
}

.row-items {
    gap: 12px;
}

.row-items > .d-flex {
    padding-bottom: 12px;
}

.product-about-image {
    width: 100%;
    max-width: 607px;
    overflow: hidden;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.product-desc {
    width: 60%;
}


.menu-link {
    color: var(--color-white);
    font-size: 14px;
    font-weight: 500;
}

.btn:first-child:active, :not(.btn-check) + .btn:active, .btn.active {
    border-color: transparent;
}

.error-page {
    padding: 200px 0;
}

.error-page-title {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}

.back-link {
    color: var(--color-blue);
    font-size: 40px;
    margin-top: 10px;
    font-weight: 600;
}

.footer .container {
    padding: 0;
}

.footer-inner {
    border-top: 1px solid #DBDBDB;
}
.footer-inner.mt-footer {
    margin-top: 160px;
}

.footer-list {
    list-style: none;
}

.footer-list__item a {
    font-size: 16px;
    color: var(--color-black-primary);
    transition: color 300ms ease;
}

.footer-list .footer-list__item:first-child {
    font-size: 24px;
    font-weight: 500;
    color: var(--color-black-primary);
}

.dropdown .btn {
    background-color: #F6F6FA;
    border-color: #F6F6FA;
    color: var(--color-black-primary);
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-weight: 500;
    padding: 10px 16px;
}

.dropdown-menu {
    min-width: 320px;
    border: 1px solid #F2F4F7;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
}

.dropdown-menu.dropdown-sm {
    min-width: 170px;
    padding: 10px 14px;
}

.dropdown-toggle::after {
    border: none;
    width: 20px;
    height: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.5L6 6.5L11 1.5' stroke='%23575758' stroke-width='1.66667' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.dropdown .dropdown-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.dropdown .dropdown-item.active,
.dropdown .dropdown-item:active {
    background-color: transparent;
    color: var(--color-black-primary);
}
.dropdown .dropdown-item.active::after {
    content: '';
    display: block;
    min-width: 24px;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 6L9 17L4 12' stroke='%23F46F4E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.nav-size {
    width: 250px;
    min-width: 250px;
}

.nav-size .nav-link {
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid #DBDBDB;
    padding: 0 0 25px 0;
    margin-bottom: 25px;
    color: var(--color-black-primary);
    text-align: left;
}

.nav-size .nav-link.active {
    background-color: transparent;
    color: var(--color-primary);
}

.breadcrumbs .btn,
.breadcrumbs a {
    padding: 0;
    background-color: transparent;
    color: var(--color-gray-dark);
    font-size: 15px;
    font-weight: 400;
}

.breadcrumbs .link {
    display: flex;
    align-items: center;
    gap: 5px;
}

.breadcrumbs .link::after {
    border: none;
    width: 20px;
    display: inline-block;
    content: "";
    height: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.5L6 6.5L11 1.5' stroke='%23575758' stroke-width='1.66667' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.breadcrumbs .link.link-end::after {
    display: none;
}

.noUi-target {
    box-shadow: none;
    border-radius: 4px;
    border: 0;
    margin: 0 6px;
    background: var(--color-gray-light);
    height: 2px;
    position: relative;
}
.noUi-connect {
    background: var(--color-primary);
}
.noUi-horizontal .noUi-handle {
    width: 15px;
    height: 15px;
    right: -6px;
    top: -7px;
    border-radius: 100%;
    background: var(--color-primary);
    border: none;
    box-shadow: none;
}
.noUi-handle::after, .noUi-handle::before {
    display: none;
}

.catalog-price-input {
    width: 150px;
    border: 2px solid #CFCFCF;
    outline: none;
    padding: 22px 10px 6px;
}

.catalog-price-input:first-child {
    border-radius: 6px 0 0 6px;
}
.catalog-price-input:last-child {
    border-radius: 0 6px 6px 0;
    border-left: 0;
}

.range-abs-desc {
    position: absolute;
    top: 5px;
    font-size: 14px;
    color: var(--color-gray-dark);
    left: 10px;
}

.range-abs-desc.to-range {
    left: 160px;
}

.basket-wrapper {
    gap: 80px;
}

.basket-products {
    gap: 20px;
}

.basket-main-col {
    width: 100%;
    max-width: 475px;
}

.basket-main {
    padding: 35px 40px;
    border: 2px solid var(--color-green);
    border-radius: 30px;
    width: 100%;
    max-width: 475px;
}

.basket-main-inner {
    gap: 10px;
}

.basket-main p {
    margin-bottom: 0;
}

.basket-main.empty {
    border: 2px solid #CFCFCF;
}

.order-wrapper .basket-main.empty {
    padding-bottom: 22px;
}
.order-wrapper .basket-main {
    gap: 15px;
}

.auth-btn {
    border: 2px solid #CFCFCF;
    color: var(--color-blue);
}

.btn.btn-primary {
    color: var(--color-white);
    background-color: var(--color-primary);
    border-color: transparent;
}
.btn.btn-red {
    color: #D92D20;
}

.btn.btn-acc-wallet {
    width: 100%;
    max-width: 400px;
}

.account-wallet th {
    padding-bottom: 4px;
    color: var(--color-gray-dark);
    font-weight: 400;
    font-size: 18px;
}

.account-wallet td {
    border-bottom: 1px solid #DBDBDB;
    padding: 12px 12px 12px 0;
    font-size: 18px;
    color: var(--color-black-secondary);
}

.account-wallet tr td:first-child {
    color: var(--color-gray-dark);
}
.account-wallet tr td:last-child {
    white-space: nowrap;
}
.account-wallet tr:last-child td {
    border-bottom: 1px solid transparent;
}

.profile-tab {
    max-width: 710px;
}

.order-item {
    width: 146px;
}

.order-item img {
    width: 100%;
}

.order-item-counter {
    top: 0;
    right: 0;
    background-color: var(--color-black-primary);
    font-size: 13px;
    font-weight: 600;
    color: var(--color-white);
    padding: 2px 4px;
    border-radius: 5px;
    min-width: 18px;
    text-align: center;
}

.nav-account {
    background-color: var(--color-white);
    border-radius: 20px;
    padding: 24px 28px;
    width: fit-content;
    min-width: 184px;
}

.nav-account .nav-link {
    width: fit-content;
    color: #323234;
    padding: 2px;
}

.nav-account .nav-link.logout {
    width: fit-content;
    color: #323234;
    padding: 2px;
}

.nav-account .nav-link.active {
    background-color: transparent;
    color: var(--color-primary);
}

.tab-content {
    width: 100%;
}

.account-wrapper .tab-content .tab-pane {
    background-color: var(--color-white);
    border-radius: 20px;
    padding: 44px;
    width: 100%;
}

.account-orders {
    background-color: var(--color-white);
    border-radius: 20px;
    padding: 30px;
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.account-orders-item {
    display: flex;
    gap: 30px;
}

.orders-image {
    max-width: 140px;
}

.orders-image-overflow {
    width: 140px;
    overflow: hidden;
    border-radius: 30px;
}
.orders-image-overflow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.orders-image .btn {
    text-align: left;
    line-height: 100%;
}


.orders-image .btn svg {
    min-width: 24px;
}

.support-chat {
    background-color: var(--color-white);
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    min-width: 300px;    
}

.chat-message {
    padding: 5px 15px;
    background-color: var(--color-primary-bg);
    position: relative;
    border-radius: 10px;
}

.chat-message::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    right: -10px;
    bottom: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 5L-4.37114e-07 10L0 -4.37114e-07L10 5Z' fill='%23FFF6F0'/%3E%3C/svg%3E%0A");
}

.chat-message.is-out::before {
    right: auto;
    left: -10px;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.96244e-08 5L10 1.19249e-07L10 10L5.96244e-08 5Z' fill='%23F0F7FF'/%3E%3C/svg%3E%0A");
}


.chat-message.is-out {
    background-color: var(--color-blue-bg);
}

.support-chat .btn path {
    transition: 300ms ease-in-out;
}

.order-card {
    border-radius: 20px;
    gap: 0;
    display: flex; 
    flex-direction: column;
}
.order-head {
    padding: 10px 26px 8px;
    background-color: #F3F3F3;
    border-radius: 20px 20px 0 0;
    flex-wrap: wrap;
}
.order-products {
    border: 1px solid #DBDBDB;
    border-top: none;
    border-radius: 0 0 20px 20px;
    padding: 20px;
}

.basket-product-card {
    display: flex;
    position: relative;
    transition: opacity 400ms ease, transform 400ms ease;
}

.basket-product-card.remove {
    opacity: 0;
    transform: translateX(-50px);
}

.basket-product-card input[type='checkbox'] + label {
    margin-top: 60px;
}

.basket-product-card .btn.btn-blue {
    line-height: 115%;
    margin-top: 20px;
}

.basket-product-image {
    width: 146px;
    min-width: 146px;
    height: 146px;
    border-radius: 20px;
    overflow: hidden;
}
.basket-product-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.modal input[type='checkbox'] + label::before {
    margin-right: 8px;
    margin-bottom: -3px;
    border-radius: 4px;
    width: 16px;
    min-width: 16px;
    height: 16px;
}

input[type='checkbox'] + label::before { 
    content: '';
    display: inline-block;
    width: 20px;
    min-width: 20px;
    height: 20px;
    border: 1px solid var(--color-grey);
    background-color: var(--color-white);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 100%;
    cursor: pointer;
    margin-right: 32px;
}

input[type='checkbox']:checked + label::before {
    background-color: #323234;
    border: 1px solid #323234;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 1L3.8125 7L1 4.27273' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.counter {
    display: flex;
    background-color: #F6F6FA;
    border-radius: 5px;
    align-items: center;
    max-height: 34px;
}

.counter .btn {
    width: 44px;
    min-width: 44px;
    height: 34px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #F6F6FA;
    font-size: 0;
    border-radius: 0;
}

.btn.close-nav {
    width: 52px;
    height: 52px;
    position: absolute;
    z-index: 5;
    top: 20px;
    right: 16px;
    background-color: #F6F6FA;
    border-radius: 10px;
    display: none;
    align-items: center;
    justify-content: center;
}

.counter .counter-value {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    min-width: 34px;
}

.product-info .product-price {
    flex-wrap: wrap;
    gap: 2px 10px;
}

.counter .btn.cnt-minus {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='2' viewBox='0 0 16 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1H15' stroke='%23323234' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A"); 
    border-radius: 5px  0 0 5px;
}

.counter .btn.cnt-plus {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 1V15M1 8H15' stroke='%23323234' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    border-radius: 0 5px 5px 0;
}

.product-info .product-price p {
    margin: 0;
}
.cnt-now, .cnt-total {
    min-width: 13px;
    text-align: center;
    display: inline-block;
}

.product-main p {
    margin-bottom: 0;
}

.product-main {
    gap: 30px;
}

.swiper-grid {
    grid-template-columns: 100px 510px;
    gap: 10px;
}

.modal .swiper-grid {
    grid-template-columns: 120px 800px;
    gap: 100px;
}

.swiper-pag {
    width: 100px;
    min-width: 95px;
    max-height: 512px;
    overflow: hidden;
    padding: 0;
}

.fixed-product {
    position: fixed;
    display: flex;
    left: 50%;
    top: 20px;
    transform: translateX(-50%) translateY(-220px);
    max-width: 1362px;
    width: 100vw;
    padding: 3px 25px;
    border-radius: 10px;
    align-items: center;
    border: 1px solid #DBDBDB;
    transition: transform 300ms ease-in-out;
    background-color: var(--color-white);
}
.fixed-product.active {
    transform: translateX(-50%) translateY(0px);
}

.fixed-product .price,
.modal .price {
    font-weight: 700;
    font-size: 35px;
}
.fixed-product .subprice {
    font-weight: 500;
    font-size: 20px;
    color: var(--color-grey);
    text-decoration: line-through
}
.fixed-product .discount {
    font-weight: 700;
    font-size: 20px;
}

.fixed-product .fix-title {
    display: block;
    height: 60px;
}



.modal .swiper-main {
    padding: 0 150px;
}

.modal .swiper-button-next, .modal .swiper-button-prev {
    color: var(--color-white);
}

.swiper-main {
    width: 100%;
}

.swiper-main .swiper-slide {
    overflow: hidden;
    border-radius: 30px;
    max-height: 512px;
}

.swiper-pag .swiper-slide {
    width: 97px;
    min-width: 97px;
    height: 108px !important;
    overflow: hidden;
    border-radius: 20px;    
    border: 2px solid transparent;
}

.swiper-pag .swiper-slide img,
.swiper-main .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.swiper-main:not(.btn-enable) .swiper-button-next,
.swiper-main:not(.btn-enable) .swiper-button-prev {
    display: none;
}

.swiper-pag .swiper-slide.swiper-slide-thumb-active {
    border: 2px solid var(--color-primary);
}

.product-main-action {
    width: 350px;
    min-width: 350px;
}

.product-action-block {
    padding: 30px 30px 50px;
    border-radius: 30px;
    background-color: var(--color-primary-bg);
}

.product-selectors {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product-action-block .fav-btn {
    position: static;
}

.product-option {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-width: 50px;
    height: 50px;
    border-radius: 6px;
    border: 1px solid #DBDBDB;
    cursor: pointer;
}
.product-option p {
    margin-bottom: 0;
}
.product-option img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.product-option.active {
    border: 2px solid #323234;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-wrapper input {
    border-radius: 3px;
    border: 1px solid #cfcfcf;
    padding: 14px 20px;
    font-size: 18px;
    line-height: 100%;
    font-weight: 400;
    outline: none;
    color: #323234;
}

.chat-input {
    font-size: 15px;
    color: #323234;
    font-family: var(--font-primary);
    resize: none;
    border: none;
    padding: 10px 0;
    outline: none;
    height: 40px;
    width: 100%;
}

.chat-input::placeholder {
    font-variant: var(--color-gray-light);
}

.input-wrapper label {
    color: var(--color-grey);
    font-size: 15px;
}

.input-wrapper input::placeholder {
    color: #B7B7B8;
    font-weight: 600;
    opacity: 1;
}

.input-wrapper input:focus {
    border: 1px solid var(--color-primary);
}

.input-wrapper input:focus::placeholder {
    opacity: 0;
}


.modal .modal-dialog {    
    padding: 0 15px;
}
.modal-dialog.swiper-dialog {
    max-width: 1000px;
}

.modal .modal-content {
    padding: 40px;
    border-radius: 30px;
    display: flex; 
    flex-direction: column;
}

.modal .modal-content.modal-product {
    flex-direction: row;
    gap: 20px;
    padding-bottom: 0;
    overflow: hidden;
    padding-left: 0;
}

.modal .modal-content.modal-product .swiper-main {
    padding: 0;
    max-width: 500px;
    overflow: hidden;
}

.modal .modal-content.modal-product .swiper-main .swiper-slide {
    min-width: 500px;
}

.modal .modal-content.modal-product .swiper-main .swiper-button-next,
.modal .modal-content.modal-product .swiper-main .swiper-button-prev {
    width: 30px;
    height: 120px;
    background-color: rgba(219, 219, 219, 0.6);
    border-radius: 10px;
    backdrop-filter: blur(8px);
    top: 40%;
}

.modal .modal-content.modal-product .swiper-main .swiper-button-next::after,
.modal .modal-content.modal-product .swiper-main .swiper-button-prev::after {
    font-size: 20px;
}

.modal .modal-dialog:has(.modal-product) {
    max-width: 1000px;
}

.modal-auth {    
    gap: 10px;
}

.product-more {
    color: var(--color-black-primary);
    border-top: 1px solid #E3E3E3;
    margin-top: auto;
}

.modal-auth .btn-close,
.modal-data-change .btn-close {
    align-self: flex-end;
}

.modal-auth .title {
    text-align: center;
    margin-bottom: 20px;
}
.modal-data-change .title {
    margin-bottom: 20px;
}

.modal-data-change {
    gap: 20px;
}


.modal-dialog {
    max-width: 676px;
    width: 100%;
}

.modal-dialog.lg-modal {
    max-width: 877px;
    width: 100%;    
}

.btn-product-back {
    top: 10px;
    left: 10px;
    z-index: 3;
}

@media (max-width: 1399.98px) { 
    .basket-wrapper {
        gap: 30px;
    }
    .product-main {
        display: grid !important;
        grid-template-columns: 620px 1fr;
    }
    .product-main-info {
        order: 1;
    }
    .product-flex {
        flex-direction: column;
        margin-top: 40px;
    }
    .product-flex.revers {
        flex-direction: column-reverse;
    }
    .product-main-action {
        width: 100%;
        min-width: auto;
    }
}

@media (max-width: 1199.98px) { 
    .catalog-button {
        padding: 16px 27px 17px;
    }

    .header .btn:has(.menu-link) {
        padding: 6px;
    }

    .basket-wrapper .basket-main,
    .basket-wrapper .basket-main-col {
        max-width: none;
    }
    .basket-main-inner {
        margin: 0 auto;
        max-width: 400px;
        width: 100%;
    }
    .support-chat {
        width: 100%;
    }
    .fixed-product {
        display: none;
    }
}

@media (max-width: 991.98px) {  
    body {
        background-color: #F6F6FA;
    }
    .container {
        padding: 0 15px;
    }
    .product-main {
        grid-template-columns: 1fr;
    }
    .basket-wrapper {
        margin-left: -15px;
        width: 100vw;
    }
    .basket-products {        
        padding: 20px 15px;
        background-color: var(--color-white);
        border-radius: 15px;
        width: 100%;
    }
    
    h1.title {
        font-size: 28px;
    }
    .basket-wrapper .basket-main,
    .basket-wrapper .basket-main-col {
        background-color: var(--color-white);
    }

    .footer-inner.mt-footer {
        margin-top: 40px;
    }
    .catalog-button {
        padding: 11px 26px 11px;
        height: 50px;
        position: relative;
        z-index: 3;
    }
    .search-input {
        height: 52px;
        border-radius: 20px;
        padding: 10px 66px 12px;
        font-size: 24px;
        line-height: 1;
    }
    .order-wrapper .basket-main {
        max-width: none;
        background-color: var(--color-white);
    }

    .order-info {
        background-color: var(--color-white);
        border-radius: 15px;
        padding: 15px;
        width: 100vw !important;
        margin-left: -16px;
    }

    .catalog-item::after {
        opacity: 1;
    }

    .search-file-button {
        top: 12px;
    }
    
    .search-button {
        top: 12px;
        left: 30px;
    }

    .error-page {
        padding: 100px 0;
    }
    
    .footer-inner {
        padding-bottom: 70px;
    }

    .product-item {
        max-width: 170px;
        gap: 3px;
    }

    .product-item .product-price {
        position: relative;
    }
    .banner-flex .products-grid {
        max-height: 514px;
    }
    .banner-item {
        width: 365px;
        min-width: 365px;
        height: 514px;
    }
    .banner-item img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .product-price .price {
        font-size: 16px;
    }
    .product-title {
        font-size: 12px;
    }
    .products-grid {
        grid-template-columns: repeat(auto-fill, 170px);
    }
    .product-item .product-price .discount {
        position: absolute;
        z-index: 1;
        background-color: var(--color-white);
        border-radius: 5px 5px 5px 10px;
        padding: 2px 4px;
        left: 7px;
        top: -38px;
        margin-left: 0;
    }
    .banner-content {
        min-height: 170px;
        width: 50%;
        padding: 40px 30px 30px 40px;
    }
    .banner-title {
        font-size: 20px;
        line-height: 24px;
    }
    .banner-content a {
        font-size: 16px;
    }
    .pagination-item.active {
        background-color: var(--color-primary);
        color: var(--color-white);
    }
    
    .show-more {
        background-color: var(--color-white);
        border: 2px solid transparent;
    }
    .products-grid {
        justify-content: center;
    }
    .header:has(.catalog-wrapper.active) {
        background-image: none;
        background-color: var(--color-white);
        border-radius: 0;
    }
    .search-wrapper {
        position: relative;
        z-index: 10;
    }
    .order-head .btn {
        display: none;
    }
    .header:has(.catalog-wrapper.active) .search-wrapper .search-input,
    body:has(.nav-size.active) .search-wrapper .search-input {
        background-color: #F6F6FA;
        color: var(--color-black-primary);
    }
    
    .header:has(.catalog-wrapper.active) .search-wrapper .search-input::placeholder,
    body:has(.nav-size.active) .search-wrapper .search-input::placeholder {
        color: #CFCFCF;
    }
    
    .header:has(.catalog-wrapper.active) .search-wrapper .search-button svg path,
    body:has(.nav-size.active) .search-wrapper .search-button svg path {
        fill: var(--color-grey);
    }
    .header:has(.catalog-wrapper.active) .search-wrapper .search-file-button svg path,
    body:has(.nav-size.active) .search-wrapper .search-file-button svg path {
        stroke: #323234;
    }
    .catalog-scroll {
        max-height: calc(100dvh - 120px);
    }
    .header:has(.catalog-wrapper.active) .catalog-button {
        font-size: 0;
        background-color: #F6F6FA;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.5 1.5L1.5 16.5M1.5 1.5L16.5 16.5' stroke='%239F9F9F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 10px;
    }

    .header:has(.catalog-wrapper.active) .catalog-button img {
        display: none !important;
    }

    .catalog-wrapper {
        background-color: var(--color-white);
        overflow: hidden;
        top: 80px;
        max-width: 100vw;
    }
    .catalog-item {
        width: 100%;
    }
    .catalog-sublist, .catalog-sublist-child {
        transform: translateX(-50px);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;
        transition: transform 500ms ease, opacity 500ms ease;
    }
    .catalog-sublist.active {
        z-index: 4;
        opacity: 1;
        pointer-events: all;
    }
    .catalog-sublist-child.active {
        z-index: 5;
        opacity: 1;
        pointer-events: all;
    }
    .catalog-list, .catalog-sublist, .catalog-sublist-child {
        width: 100%;
    }
    .catalog-list {  
        overflow-y: scroll;      
        max-height: calc(100dvh - 90px);
    }
    .catalog-item.active {
        background-color: transparent;
    } 
    .account-wrapper .tab-content .tab-pane {
        padding: 15px 20px;
    }
    h2.title {
        font-size: 28px;
    }
    h4.title, .item-title {
        font-size: 18px;
    }
    .product-desc {
        width: 100%;
    }
}

@media (max-width: 767.98px) {  
    .catalog-button {
        padding: 11px 4px;
        background-color: transparent;
        height: 50px;
        min-width: 50px;
    }
    body:has(.nav-size.active) {
        overflow: hidden;
    }
    .search-result {
        padding-top: 40px;
    }
    .basket-main {
        padding: 17px 14px;
    }

    .pagination-item.next,
    .pagination-item.prev {
        display: none;
    }
    .banner-flex {
        flex-direction: column !important;
    }
    .banner-item {
        width: 100%;
        height: 400px;
    }
    .swiper-pag  {
        display: none;
    }

    body:has(.product-section) .header,
    body:has(.product-section) .breadcrumbs-flex {
        display: none !important;
    }

    .tab-size > .tab-pane {
        background-color: var(--color-white);
        padding: 20px 16px;
        border-radius: 10px;
        width: 100%;
        transition: none;
    }
    .swiper-grid {
        grid-template-columns: 1fr;
    }

    .tab-size {
        width: 100%;
    }

    .nav-size {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100dvh;
        display: none;
        z-index: 4;
        background-color: var(--color-white);
        padding: 100px 25px 20px;
    }
    .nav-size.active {
        display: flex;
    }

    .nav-size .nav-link {
        border-bottom: none;
        margin: 0;
    }

    .btn.close-nav.active {
        display: flex;
    }
    .account-wrapper .tab-content > .tab-pane {
        display: none;
    }
    .nav-account {
        width: 100%;
    }

    .nav-account .nav-link.active,
    .nav-account .nav-link {
        color: #323234;
        padding-bottom: 10px;
        padding-top: 10px;
        width: 100%;
        border-bottom: 1px solid #DBDBDB;
        text-align: left;
        display: flex;
        align-items: center;
        font-size: 18px;
        justify-content: space-between;
    }

    .nav-account .nav-link.logout {
        border-bottom: none;
        padding-top: 10px;
        width: 100%;
    }

    .nav-account .nav-link:not(.logout)::after {
        content: '';
        width: 24px;
        min-width: 24px;
        height: 24px;
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 13L7 7L1 1' stroke='%23B7B7B8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
    }

    .account-wrapper:has(.bs-show) .nav-account {
        display: none;
    }
    .account-wrapper .tab-content > .tab-pane.bs-show {
        display: block;
    }
    .account-wrapper .tab-content:has(.bs-show) {
        width: 100%;
    }

    .account-back {
        margin-right: -20px;
    }
    .tab-content {
        width: auto;
    }
}

@media (max-width: 575.98px) {  
    .header {
        border-radius: 0 0 20px 20px;
        height: 55px;
    }
    
    .header:has(.catalog-wrapper.active) .catalog-button {
        background-size: 16px;
    } 
    .catalog-wrapper {
        top: 50px;
    }
    .pagination-item {
        background-color: var(--color-white);
    }
    .header-inner {
        height: 55px;
    }
    .error-page-title {
        font-size: 28px;
    }
    .search-result {
        padding-top: 24px;
    }
    .basket-product-card input[type='checkbox'] + label {
        position: absolute;
        right: 16px;
        top: 10px;
        margin-top: 0px;
        margin-right: 0px;
    } 
    .basket-product-card input[type='checkbox'] + label::before {
        margin: 0;
    }

    .basket-product-card .product-info {
        flex-direction: column-reverse !important;
        justify-content: flex-end;
        max-width: calc(100% - 190px);
    } 
    .basket-product-card .product-info .text-lt {
        display: none;
    }

    .basket-product-image {
        width: 100px;
        min-width: 100px;
        height: 100px;
    }

    .basket-product-image + .btn-blue svg {
        display: none;
    }

    .basket-product-card {
        padding-bottom: 60px;
        flex-wrap: wrap;
    }
    .basket-product-card > p.text-nowrap {
        position: absolute;
        bottom: 0px;
        right: 10px;
        margin: 0;
    }

    .basket-product-card .counter {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    
    .nav-size {
        padding-top: 60px;
    }
    .btn.close-nav {
        width: 30px;
        height: 30px;
        padding: 2px;
        top: 14px;
    }
    .btn.close-nav svg {
        width: 12px;
    }
    .nav-size .nav-link {
        padding-bottom: 12px;
    }
    .products-grid {
        gap: 6px;
        margin-left: -6px;
        width: calc(100vw - 10px);
    }
    .back-link {
        font-size: 18px;
    }

    .pagination {
        overflow: hidden;
        justify-content: flex-start;
    }
    .account-wallet td,
    .account-wallet th {
        font-size: 14px;
    }
    .status {
        padding: 0;
    }

    .status.success {
        color: var(--color-green);
        background-color: transparent;
    }
    .status.await {
        color: var(--color-yellow);
        background-color: transparent;
    }
    .status.refuse {
        color: #D92D20;
        background-color: transparent;
    }

    .catalog-button {
        padding: 0 4px;
        height: 30px;
        min-width: 30px;
    }
    .search-input {
        height: 30px;
        border-radius: 10px;
        padding: 5px 40px 7px;
        font-size: 24px;
        line-height: 1;
        font-size: 15px;
    }

    h2.title {
        font-size: 28px;
    }

    h3.title {
        font-size: 24px;
    }
    .orders-image-overflow {
        width: 100px;
    }
    .orders-image {
        max-width: 100px;
    }
    .orders-image .btn svg {
        display: none;
    }
    .account-orders-item {
        gap: 20px;
    }
    .account-orders {
        padding: 15px;
    }
    h4.title {
        font-size: 20px;
    }

    .search-button {
        top: 0px;
        left: 15px;
    }

    .search-button svg {
        width: 18px;
        height: 18px;
    }

    .search-file-button {
        top: 1px;
        right: 15px;
    }

    .search-file-button svg {
        width: 14px;
    }

    .mobile-nav {
        gap: 16px;
    }
    .banner-item {
        min-width: auto;
    }
    .banner-main {
        padding-top: 180px;
        background-size: auto 60%;
        background-position: top right;
    }
    .banner-content {
        width: 100%;
        padding: 15px 20px 30px;
        min-height: 110px;
    }
}


@media (hover: hover) {    
    .search-file-button:hover {
        transform: scale(1.12);
    }

    .catalog-item:hover::after {
        opacity: 1;
        transition: opacity 120ms ease;
    }

    .footer-list__item a:hover {
        color: var(--color-primary);
    }

    .fav-btn:hover .fav-hover {
        fill: var(--color-primary);
    }
    .fav-btn:hover .fav-hover-stroke {
        stroke: var(--color-primary);
    }

    .btn.auth-btn:hover,
    .btn.auth-btn:active {
        border: 2px solid var(--color-blue);
        color: var(--color-blue);
    }
    a.link-primary:hover {
        color: var(--color-primary) !important;
    }
    .btn.btn-blue:active {
        color: var(--color-blue);
    }
    .counter .btn:hover {
        background-color: #E6E6E6;
    }
    .support-chat .btn:hover path {
        stroke: var(--color-primary);
    }
    .dropdown-menu.dropdown-sm .dropdown-item:hover {
        background-color: transparent;
        color: #F63F3F;
    }
}

@media (hover: none) {

}
